/* Here is the design of cover page */
.main-header {
    background: rgba(229, 84, 115, 0.10);
    height: 600px;
    /* width:1000px; */

}

.main-header-container {
    display: flex;
    gap: 97px;
}

.main-header-div1 {
    padding-left: 140px;
    padding-top: 100px;
}

.main-header-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    width: 708px;
    margin-bottom: 0;
}

.main-header-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-button {
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    margin-top: 0px;
    border: 0;
    padding: 11px 33px;

}

.header-pic {
    
     height: 500px;
     /* margin-right: 600px; */

}
.main-header-div2{
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 0px;
}

/* Here is the design of featured flower section */
.featured-sec-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 15px;

}
.featured-sec-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 30px;
margin-bottom: 10px;
}
.featured-sec-pic-info{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.featured-sec-all-pics{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
}
.featured-sec-pic-size{
    width: 250px;
height: 300px;

}
.featured-sec-pic1-backg{
    width: 300px;
height: 350px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);

}
.featured-sec-pic2-backg{
    width: 300px;
height: 350px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);

}
.featured-sec-pic3-backg{
    width: 300px;
height: 350px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
#featured-sec-pic1-pos{
    padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 0;
     padding-top: 50px;
  }
  #featured-sec-pic2-pos{
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
  
  }
  #featured-sec-pic3-pos{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 50px;
  }
/* Here is the optional section design part */
.optional-sec{
    margin-top: 85px;
    margin-bottom: 85px;
    margin-left: 190px;
    margin-right: 190px;
}
.optional-sec-all-pic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 1440px; */
height: 230px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
}
.optional-sec-description{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 19px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 0;
}
.optional-sec-pic1-pos{
    padding-left: 60px;
    height: 70px;
    margin-bottom: 8px;

}
.optional-sec-pic2-pos{
    padding-left: 60px;
    height: 70px;
    margin-bottom: 8px;
}
.optional-sec-pic3-pos{
    height: 70px;
    margin-bottom: 8px;
}
