/* Here is the design of cover page */
.main-header {
    background: rgba(229, 84, 115, 0.10);
    height: 600px;
    /* width:1000px; */

}

.main-header-container {
    display: flex;
    gap: 97px;
}

.main-header-div1 {
    padding-left: 140px;
    padding-top: 100px;
}

.main-header-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    width: 708px;
    margin-bottom: 0;
}

.main-header-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-button {
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    margin-top: 0px;
    border: 0;
    padding: 11px 33px;

}

.header-pic {

    height: 500px;
    /* margin-right: 600px; */

}

.main-header-div2 {
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 0px;
}

/* Here is the design of featured flower section */
.featured-sec-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 15px;

}

.featured-sec-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.featured-sec-pic-info {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.featured-sec-all-pics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
}

.featured-sec-pic-size {
    width: 250px;
    height: 300px;

}

.featured-sec-pic1-backg {
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.featured-sec-pic2-backg {
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.featured-sec-pic3-backg {
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

#featured-sec-pic1-pos {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 50px;
}

#featured-sec-pic2-pos {
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 30px;

}

#featured-sec-pic3-pos {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 50px;
}

/* Here is the optional section design part */
.optional-sec {
    margin-top: 85px;
    margin-bottom: 85px;
    margin-left: 190px;
    margin-right: 190px;
}

.optional-sec-all-pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 1440px; */
    height: 230px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.optional-sec-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 19px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 0;
}

.optional-sec-pic1-pos {
    padding-left: 60px;
    height: 70px;
    margin-bottom: 8px;

}

.optional-sec-pic2-pos {
    padding-left: 60px;
    height: 70px;
    margin-bottom: 8px;
}

.optional-sec-pic3-pos {
    height: 70px;
    margin-bottom: 8px;
}

/* Here is the design of hot deal sec */
.Hot-deal-sec {
    height: 400px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 0;
}

.hot-deal-sec-main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hot-deal-sec-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 13px;
    padding-left: 100px;
}

.hot-deal-sec-pic {
    width: 220px;
    height: 280px;
    padding-top: 60px;
    padding-right: 180px;

}

.hot-deal-sec-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 13px;
    padding-left: 100px;
}

.hot-deal-btn {
    color: white;
    margin-left: 250px;
    border-radius: 8px;
    background: #E55473;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    border: 0;
    padding: 11px 33px;
}

/* Instagram section */
.instagram-sec-div1 {
    margin-top: 85px;
}

.instagram-sec-div2 {
    margin-bottom: 85px;
}

.instagram-sec-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.instagram-sec-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.instagram-sec-pic {
    height: 270px;
}

#instagram-sec-pic1 {
    padding-left: 170px;
}

#instagram-sec-pic2,
#instagram-sec-pic3,
#instagram-sec-pic4 {
    padding-left: 15px;
}

/* Here is the latest deal section design */
.latest-deal-sec {
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    height: 500px;
    margin-left: 160px;
    margin-right: 160px;
}

.latest-deal-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

/* Here is the design of footer */
.main-foot {
    
    text-align: center;
    height: 340px;
    background: #111010;
}

.foot-title {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-top: 80px;
    margin-bottom: 0;
}

.foot-description {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.foot-description1 {
    color: rgba(255, 255, 255, 0.40); 
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;

}